/* ========== BASE STYLES ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: #6F86FF;
}

body {
    background-color: rgb(65, 71, 97);
    font-family: sans-serif;

    /* Background image (optional) */
    background-image: url("AI School.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* ========== OFF-SCREEN MENU ========== */
.off-screen-menu {
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 450px;

    position: fixed;
    top: 0;
    left: -450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 3rem;

    transition: 0.3s ease;
}

.off-screen-menu.active {
    left: 0;
}



/* ========== NAVIGATION BAR ========== */
nav {
    padding: 1rem;
    background-color: rgb(34, 37, 49);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative; /* Needed for left-positioned hamburger */
}



/* ========== HAMBURGER MENU BUTTON ========== */
.ham-menu {
    height: 50px;
    width: 40px;

    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

/* Active hamburger (X icon) */
.ham-menu.active span {
    background-color: white;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}



/* ========== NAV TITLE ========== */
.nav-title {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
