/* ====== BASE STYLES ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(65,71,97);
    padding-top: 70px; /* ruimte voor navbar */
}

/* Links */
a {
    color: white;
}
a:hover {
    color: #6F86FF;
}

/* ====== NAVBAR ====== */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(34,37,49);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 1000;
}

/* Titel in navbar */
.nav-title {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    max-width: 80%;
}

/* ====== HAMBURGER MENU ====== */
.ham-menu {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 50px;
    cursor: pointer;
    z-index: 1001;
}

.ham-menu span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) { top: 25%; }
.ham-menu span:nth-child(2) { top: 50%; }
.ham-menu span:nth-child(3) { top: 75%; }

.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) { opacity: 0; }
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* ====== OFF-SCREEN MENU ====== */
.off-screen-menu {
    position: fixed;
    top: 0;
    left: -450px;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    background-color: rgb(34,37,49);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: 0.3s ease;
    z-index: 999;
}

.off-screen-menu.active { left: 0; }

.off-screen-menu ul {
    list-style: none;
    text-align: center;
}

.off-screen-menu li { margin: 15px 0; }

.off-screen-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.off-screen-menu a:hover { color: #6F86FF; }
